body
{
	background-color: #F3F3F3;
}

.c-div-body
{
	width: 100%;
	margin-bottom: 20px;
	margin-top: 45px;
	
}


/*---------------------工作发布详细内容主体---------------------*/
.c-div-bodyContent
{
	width: 920px;
	min-height: 800px;
	margin: 0 auto;
	background-color: white;
}

.c-div-jobForm
{
	padding: 60px 80px 100px 80px;
}

.c-table-jobForm tr
{
	line-height: 46px;
}

.c-table-jobForm th
{
	width: 200px;
	font-size: 18px;
	font-weight: normal;
	color: #777777;
	text-align: right;	
}

.c-table-jobForm td
{
	padding-left: 16px;
	text-align: left;
}

.c-table-jobForm td input, select
{
	width: 238px;
	height: 34px;
	border: 1px solid #CCC;
	font-size: 14px;
	font-family: arial, "宋体";
	color: #555555;
}

.c-table-jobForm td textarea
{
	border: 1px solid #CCC;
	width: 385px;
	height: 87px;
	margin-top: 6px;
}

