/*---------------------顶部logo 及搜索条---------------------*/
.c-div-header
{
	width: 100%;
	height: 104px;
	background-color: #FBFBFB;
}

.c-div-content
{
	width: 920px;
	height: 76px;
	margin: 0 auto;
}

.c-div-left
{
	float: left;
}

.c-div-right
{
	float: right;
	width: 657px;
	height: 45px;
	margin-top: 28px;
	border: 1px solid #979797;
}

#i-input-query
{
	width: 572px;
	height: 45px;
	font: 18px '宋体';
	float: left;
}
#i-button-query
{
	float: right;
	width: 85px;
	height: 45px;
	margin: 0px;
	padding: 0px;
	background-color: #74CCCB;
	font: 26px '楷体';
	text-align: center;
	line-height: 45px;
	border-style: none;
}

/*---------------------导航栏---------------------*/
.c-div-leader
{
	width: 100%;
	height: 52px;
	background-color: #2ED4F2;
}

.c-div-detail
{
	width: 920px;
	height: 100%;
	line-height: 52px;
	margin: 0 auto;
}

.c-a-options
{
	width: 186px;
	height: 100%;
	display: block;
	float: left;
	text-align: center;
	font-size: 28px;
	color: #5F5F5F;
}

.c-a-options:HOVER
{
	background-color: #7FE1F2;
}

.c-div-publish
{
	float: right;
}

.c-a-publish
{
	display: block;
	float: left;
	width: 178px;
	text-align: center;
	font-size: 26px;
	color: #5F5F5F;
}

